<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--Azure connection-->
    <add key="endPointUrl" value="your end point" />
    <add key="authorizationKey" value="your authorization key" />
    <!--Database-->
    <add key="database" value="MyFoodDatabase" />
    <!--Collections ~ Tables-->
    <add key="shoppingListCollectionId" value="ShoppingListCollection" />
  </appSettings>
</configuration>
  